<nav class="navbar navbar-expand-lg bg-primary py-1">
    <a class="navbar-brand text-white" href="#">
        KeyLoan - Devolução de Chave
    </a>
</nav>

<main class="container">
    
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputChaveID">Chave</label>
                <select name="fk_chave" id="idchave" class="form-control">
                        {{#if tb_chaves.length}}
                            {{#each tb_chaves}}
                                <option value={{this.id_chave}}>{{this.titulo}}</option>
                            {{/each}}
                        {{else}}
                            <option value="NA">Sem chaves disponíveis.</option>
                        {{/if}}
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="prontuario">Identificação</label>
                <select name="fk_usuario" id="idusuario" class="form-control">
                        {{#if tb_usuarios.length}}
                            {{#each tb_usuarios}}
                                <option value={{this.id_usuario}}>{{this.nome}} - {{this.prontuario}}</option>
                            {{/each}}
                        {{else}}
                            <option value="NA">Sem usuários disponíveis.</option>
                        {{/if}}
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <button type="button" id="confirmarEmprestimo" class="btn btn-primary btn-sm" onclick="confirmarDevolucao('/emprestimo/devolver')">CONFIRMAR DEVOLUÇÃO</button>
                <a href="/cadDevolucao" class="btn btn-primary btn-sm"><i class="bi bi-bag-x"></i>DEVOLUÇÃO</a>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-8">
                {{!<a href="/" class="btn btn-primary m-3" role="button">Empréstimo</a>}}
                <a href="/cadReserva" class="btn btn-secondary btn-sm"><i class="bi bi-bag-check"></i>CADASTRAR RESERVA</a>
                
                <a href="/usuarios" class="btn btn-secondary btn-sm my-3"><i class="bi bi-list"></i>LISTA DE USUÁRIOS</a>
                <a href="/chaves" class="btn btn-secondary btn-sm my-3"><i class="bi bi-list"></i>LISTA DE CHAVES</a>
            </div>
        </div>    
    

    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="toastConfirmarEmprestimo" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header bg-warning text-dark">
                <i class="bi bi-exclamation-triangle-fill me-2"></i>
                <strong class="me-auto">Confirmação</strong>
                <button type="button" class="btn text-dark p-0" data-bs-dismiss="toast" aria-label="Fechar" 
                    style="margin-left: 10rem;">
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>
            <div class="toast-body">
                <span id="nome"></span>, confirma a devolução?
                <div class="mt-2 pt-2 border-top d-flex justify-content-end gap-2">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="toast">Desistir</button>
                    <form id="formDevolucao" method="POST">
                        <input type="hidden" name="fk_chave" id="hiddenFkChave">
                        <input type="hidden" name="fk_usuario" id="hiddenFkUsuario">
                        <button type="submit" class="btn btn-sm btn-success">Confirmar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</main>

<script>
function confirmarDevolucao(url) {
    // Pegando os selects da tela
    const chaveSelect = document.getElementById('idchave');
    const usuarioSelect = document.getElementById('idusuario');
    const msg = document.getElementById('nome');
    msg.textContent = usuarioSelect.options[usuarioSelect.selectedIndex].text;

    // Pegando os inputs escondidos do formulário dentro do toast
    const inputFkChave = document.getElementById('hiddenFkChave');
    const inputFkUsuario = document.getElementById('hiddenFkUsuario');

    // Atribuindo os valores selecionados
    inputFkChave.value = chaveSelect.value;
    inputFkUsuario.value = usuarioSelect.value;
    
    const form = document.getElementById('formEmprestimo');
    form.action = url;

    const toastEl = document.getElementById('toastConfirmarEmprestimo');
    const toast = new bootstrap.Toast(toastEl);
    toast.show();
}
</script>

