<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        KeyLoan
    </a>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" href="#">Empréstimo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled text-light" href="#">Cadastro Reserva</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Cadastro Chave</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Cadastro Usuário</a>
        </li>
    </ul>
</nav>
<main class="container">
    {{!<form action="/cadReserva/reservar" method="POST">}}
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="titulo">ID da chave</label>
                <p name="id_chave">{{chave.titulo}}</p>
                <input type="hidden" name="fk_chave" value="{{chave.id_chave}}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-8">
                <label for="codigo" >Código</label>
                <select name="fk_usuario" id="idusuario" class="form-control">
                    {{#if tb_usuario.length}}
                        {{#each tb_usuario}}
                            <option value={{this.id_usuario}}>{{this.nome}} - {{this.prontuario}}</option>
                        {{/each}}
                    {{else}}
                        <option value="NA">Sem usuários disponíveis.</option>
                    {{/if}}
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="datahora">Data</label>
                <input type="datetime-local" id="dt_planejada" class="form-control" name="dt_planejada" oninput="copiarEntrada()">
            </div>
            <div class="form-group col-md-4">
                <label for="dt_planejadafinal">Hora de retorno:</label>
                <input type="datetime-local" name="dt_planejadafinal" class="form-control" id="dt_planejadafinal">
            </div>
        </div>
        <button type="button" class="btn btn-secondary btn-sm" id="btnCancelar">CANCELAR</button>
        <button type="submit" class="btn btn-primary btn-sm">GRAVAR</button>
    {{!</form>}}
    <div class="form-row">
        <div class="form-group col-md-8">
            <label for="reservas">Próximas Reservas</label>
            <div class="container">
                {{#if tb_reserva.length}}
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                    {{#each tb_reserva}}
                        <div class="col">
                            <div class="card h-100 bg-light border-primary">
                                <div class="card-body">
                                    <h5 class="card-title text-primary">{{this.id_reserva}}</h5>
                                    <p class="card-text">{{this.chave_titulo}}</p>
                                    <h6 class="card-subtitle mb-2 text-muted">Dt Reserva {{formatDate this.dt_reserva}}</h6>
                                    <p class="card-text">Dt Planejada {{formatDateTime this.dt_planejada}}</p>
                                    <button class="btn btn-danger btn-sm my-3" onclick="inativarReserva('/cadReserva/{{this.id_reserva}}/inativar')">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                    </div>
                {{else}}
                    <div class="alert alert-warning text-center" role="alert">
                    Sem reservas no momento.
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</main>
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="toastConfirmarDelete" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-warning text-dark">
            <i class="bi bi-exclamation-triangle-fill me-2"></i>
            <strong class="me-auto">Confirmação</strong>
            <button type="button" class="btn text-dark p-0" data-bs-dismiss="toast" aria-label="Fechar" style="margin-left: 10rem;">
                <i class="bi bi-x-lg"></i>
            </button>
        </div>
        <div class="toast-body">
            Tem certeza que deseja inativar este item?
            <div class="mt-2 pt-2 border-top d-flex justify-content-end gap-2">
                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="toast">Cancelar</button>
                <form id="formDisable" method="POST">
                    <button type="submit" class="btn btn-sm btn-danger">Inativar</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    function copiarEntrada(){
        const dt_planejada = document.getElementById("dt_planejada");
        let dt_planejadafinal = document.getElementById("dt_planejadafinal");
        
        let copia = dt_planejada.value;
        dt_planejadafinal.value = copia;
    }

    function inativarReserva(url) {
        const form = document.getElementById('formDisable');
        form.action = url;

        const toastEl = document.getElementById('toastConfirmarDelete');
        const toast = new boostrap.Toast(toastEl);
        toast.show();
    }
</script>